---
import Container from '../shared/Container.astro';
import ProjectCard from './ProjectCard.astro';
import { properties } from '../../data/properties';
---

<Container>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {properties.map((property) => (
      <ProjectCard
        slug={property.slug}
        title={property.title}
        type={property.type}
        location={property.location}
        operation={property.operation}
        price={property.price}
        bedrooms={property.bedrooms}
        bathrooms={property.bathrooms}
        areaM2={property.areaM2}
        image={property.images[0]}
        alt={property.title}
      />
    ))}
  </div>
</Container>
